@import './common.css';
@import './reset.css';

.wrapper{
    position: relative;
}

.hidden2,
.hidden{
    overflow: hidden;
}

.wrapper .dimmed2,
.wrapper .dimmed{
    position: fixed;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgba(0,0,0,0.65);
    opacity: 0;
    visibility: hidden;
    transition: 0.7s;
}

.wrapper .dimmed{
    z-index: 4;
}

.wrapper .dimmed2{
    z-index: 3;
}

.hidden .dimmed{
    visibility: visible;
    opacity: 1;
}
.hidden2 .dimmed2{
    visibility: visible;
    opacity: 1;
}

.header .header-menu{
    visibility: hidden;
}

.header .header-menu.on{
    visibility: visible;
}


.header .group-menu{
    position: relative;
    position: absolute;
    top: 32px;
    width: 100%;
}

.header .group-menu .logo-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.header .group-menu .link-logo1 img{
    width: 26px;
}

.header .right-area,
.header .left-area{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    gap: 15px;
}
.header .left-area{
    left: 15px;

}
.header .right-area{
    right: 15px;
}
.header .group-menu [class*="btn-"],
.header .group-menu2 [class*="btn-"]{
    content: '';
    width: 24px;
    height: 22px;
}
.header .btn-hamburger{
    background-position: -170px -175px;
}
.header .btn-search{
    background-position: -213.5px -37px;
}
.header .btn-shopbag{
    background-position: -213.5px -69px;
    position: relative;
}
.header .btn-shopbag .ic-num{
    position: absolute;
    top: -5px;
    right: -6px;
    font-size: 10px;
    width: 17px;
    height: 17px;
    line-height: 17px;
    border-radius: 50% 50%;
    background: #ff6d44;
    color: #fff;
}
.header .btn-mypage{
    background-position: -213.5px -5px;
    position: relative;
}
.header .btn-mypage .link-join{
    content: '';
    display: block;
    position: absolute;
    right: 4px;
    top: 24px;
    height: 23px;
    width: 68.5px;
    background-position: -135.5px -5px;
}
.header .header-menu2{
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 2;
    width: 100%;
    visibility: hidden;
    transition: transform 0.3s;
}

.header .header-menu2.on{
    visibility: visible;
}
.header .header-menu2.hide{
    transform: translateY(-41px);
}


.header .group-menu2{
    width: 100%;
    border-bottom: 1px solid #dfdfdf;
    position: relative;
}

.header .group-menu2 .logo-area{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 41px;
}

.header .group-menu2 .link-logo2{
    width: 92px;
}


.header .gnb{
    position: absolute;
    top: 0;
    width: 100%;
    background: #000;
    border-top: 1px solid #000;
}

.header .gnb-list{
    display: flex;
}
.header .gnb-item{
    flex: 1;
    text-align: center;

}
.header .gnb-item [class*="btn-"]{
    height: 32px;
    color: #999999;
    font-size: 12px;
}

.header .gnb-item .on{
    width: 100%;
    background: #fff;
    color: #000;
    border-radius: 8px 8px 0 0;
    font-weight: 600;
}

.header .gnb2{
    position: relative;
    border-bottom: 1px solid #dfdfdf;
}

.header .gnb2-list{
    display: flex;
    gap: 24px;
    padding: 0 12px;
    overflow: auto;
    width: calc(100% - 44px);
}

.header .gnb2-item a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #000;
    height: 45px;

}

.header .gnb2 .link-autumnsale{
    color: #aba080;
}
.header .gnb2 .link-newsale{
    position: relative;
    margin-right: 10px;
}
.header .gnb2 .link-newsale::after{
    position: absolute;
    content: "UP";
    color: #ff6d44;
    top: 0;
    right: -16px;
    font-size: 10px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;

}
.header .gnb2 .link-oneplus{
    font-weight: bold;
}
.header .gnb2 .link-best{
    position: relative;
}
.header .gnb2-item .link-best::after{
    content: "";
    width: 6px;
    height: 6px;
    background: #ff6d44;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: -7px;
}
.header .gnb2 .link-swim{
    color: #27a2d9;
}

.header .gnb2 .link-women::before{
    background-position: -2.5px -87.5px;
}
.header .gnb2 .link-mens::before{
    background-position: -19px -87.5px;

}
.group-hamburger .menu-list .btn-golf::before,
.header .gnb2 .link-golf::before{
    background-position: -35.5px -87.5px;
}
.group-hamburger .menu-list .btn-kids::before,
.header .gnb2 .link-kids::before{
    background-position: -67.5px -19px;
    width: 25px;
    height: 13.75px;
}
.group-hamburger .menu-list .btn-black::before,
.header .gnb2 .link-bcklabel::before{
    background-position: -52px -87.5px;

}

.header .gnb2 .btn-all{
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 45px;
    background: rgba(255,255,255,1);
    border-left: 1px solid #dfdfdf;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.header .gnb2 .btn-all::before{
    content: '';
    width: 14px;
    height: 14px;
    background-position: -142.33px -67.33px;
}

.header .gnb2 .btn-all.on::before{
    background-position: -142.33px -88px;
}

.header .gnb2 .all-area{
    position: absolute;
    top: 0;
    width: 100%;
    display: none;
    
}
.header .gnb2 .all-area .bold{
    display: flex;
    align-items: center;
    height: 45px;
    width: calc(100% - 44px);
    padding-left: 24px;
    background: #fff;
    font-size: 15px;
    font-weight: 500;

}
.header .gnb2 .all-list{
    background: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 15px;
    border-top: 1px solid #dfdfdf;

}

.header .gnb2 .all-item a{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    height: 42px;
    font-size: 13px;
}
.header .gnb2 .all-item .link-new{
    display: flex;
    gap: 2px;
}
.header .gnb2 .all-item .link-new::after{
    align-self: flex-start;
    content: "UP";
    color: #ff6d44;
    font-size: 10px;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
}
.group-hamburger .menu-list .btn-swim::before,
.header .gnb2 .all-item .link-swim::before{
    background-position: -68.5px -87.5px;
}

.header .kakao-area{
    padding-top: 82px;
}

.header .kakao-area .link-kakao{
    display: block;
    background-color: #f3f3f3;
    line-height: 30px;
    text-align: center;
    color: #222;
    font-size: 12px;
    font-weight: 500;
}
.header .kakao-area .bold{
    font-weight: bold;
}

.group-hamburger .area-wrap{
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    overflow-y: scroll;
}

.group-hamburger{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80%;
    transform: translateX(-120%);
    z-index: 4;
    transition: 0.6s;
}

.group-hamburger.on{
    transform: translateX(0);
}

.group-hamburger .select-area{
    height: 60px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.group-hamburger select{
    font-size: 13px;
    padding: 5px;
    border: 1px solid #ccc;
    content: '';
    background-image: url(../images/arrow-down.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right;
    width: 56px;
}

.group-hamburger .login-list{
    display: flex;
    gap: 8%;
    padding-left: 6%;
    background: #000;
}

.group-hamburger .login-item a{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 13px;
    height: 46px;
}

.group-hamburger .tab-area{
    padding: 22px 0;
}
.group-hamburger .tab-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 15px;
}
.group-hamburger .tab-item{
    font-size: 14px;
    color: #999;
    font-weight: 600;
    position: relative;
}
.group-hamburger .tab-item.on{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}
.group-hamburger .tab-item.on::after{
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
}

.group-hamburger .sns-area,
.group-hamburger .banner-area,
.group-hamburger .menu-area{
    padding: 0 5%;

}
.group-hamburger .menu-area{
    color: #000;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-top: 8px;
}

.group-hamburger .menu-area a{
    display: flex;
}


.group-hamburger .menu-area [class*="btn-"]{
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;
}
.group-hamburger .menu-area [class*="btn-"]::after{
    content: '';
    width: 12.5px;
    height: 12.5px;
    background-position: -2.5px -2.5px;
    margin-left: auto;
}

.group-hamburger .menu-area [class*="btn-"].on::after{
    background-position: -20px -2.5px;
}

.group-hamburger .menu-area .link-new{
    position: relative;
    gap: 3px;
}
.group-hamburger .menu-area .link-new::after{
    content: "";
    width: 6px;
    height: 6px;
    background: #ff6d44;
    border-radius: 50%;
    margin-top: 3px;
}

.group-hamburger .menu-area .women-wrap,
.group-hamburger .menu-area .kids-wrap,
.group-hamburger .menu-area .golf-wrap,
.group-hamburger .menu-area .mens-wrap{
    display: none;
}

.group-hamburger .menu-area .women-wrap.on,
.group-hamburger .menu-area .kids-wrap.on,
.group-hamburger .menu-area .golf-wrap.on,
.group-hamburger .menu-area .mens-wrap.on{
    display: block;
}


.group-hamburger .menu-area .item-list{
    margin-top: 10px;
    background: #f8f8f8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px;
    display: none;
}



.group-hamburger .menu-area .line{
    height: 1px;
    background: #dfdfdf;
    margin: 25px 0;
    display: block;
}


.group-hamburger .menu-list [class*="btn-"]{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    align-items: center;
}

.group-hamburger .menu-item{
    display: flex;
    flex-direction: column;
}
.group-hamburger .menu-item .btn-swim{
    color: #27a2d9;
}
.group-hamburger .menu-item .desc{
    padding-left: 7px;
    font-size: 12px;
    color: #aaa;
    flex: 1;
}

.group-hamburger .menu-item .btn-comm::before{
    display: none;
}

.group-hamburger .tennis-list .link-tennis{
    color: #19b633;
}
.group-hamburger .sns-area,
.group-hamburger .banner-area,
.group-hamburger .customer-list{
    padding-bottom: 22px;
}

.group-hamburger .customer-list .link-customer{
    color: #ff6d44;
}

.group-hamburger .banner-area .link-kids{
    margin-bottom: 5px;
    display: block;
}

.group-hamburger .sns-list{
    display: flex;
    justify-content: center;
    gap: 10%;
}
.group-hamburger .sns-item{
    font-size: 12px;
}

.group-hamburger .sns-item [class*="link-"]{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-hamburger .sns-item [class*="link-"]::before{
    content: '';
    width: 30px;
    height: 30px;
}

.group-hamburger .sns-item .link-face::before{
    background-position: -5px -135px;
}
.group-hamburger .sns-item .link-insta::before{
    background-position: -45px -135px;
}
.group-hamburger .sns-item .link-youtube::before{
    background-position: -85px -135px;
}

.group-hamburger .btn-close{
    position: absolute;
    top: 23px;
    left: 100%;
    margin-left: 23px;
    width: 20px;
    height: 20px;
    content: '';
    display: block;
    background-position: -83.33px -90px;
}


.group-search{
    position: fixed;
    top: 0;
    background: white;
    padding: 0 25px;
    height: 100%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.group-search.on{
    opacity: 1;
    visibility: visible;
}


.group-search .flex{
    display: flex;
    flex-direction: column;
    gap: 25px;

}
.group-search .search-area{
    padding-top: 50px;
}

.group-search .search-area h2{
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
.group-search .search-area fieldset{
    border: 2px solid #000;
    height: 58.5px;
    display: flex;
}
.group-search .search-area .input-text{
    flex: 1;
    height: 54px;
    padding-left: 20px;
    font-size: 14px;
    line-height: 54px;
}
.group-search .search-area .btn-search{
    width: 50px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group-search .search-area .btn-search:before{
    content: '';
    width: 22.5px;
    height: 22px;
    background-position: -213.5px -37px;

}

.group-search h3{
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}
.group-search .keyword-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.group-search .keyword-item a{
    display: block;
    color: #333333;
    font-size: 14px;
    padding: 5px 7px;
    background: #f3f3f3;
}


.group-search .color-area h3{
    padding-bottom: 20px;
}
.group-search .color-list{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}

.group-search .color-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.group-search .color-item [class*="link-"]::before{
    content: '';
    width: 28px;
    height: 28px;
    border-radius: 15px;
    border: 1px solid #d9d9d9;
    margin-bottom: 5px;
}

.group-search .color-item .link-black::before{
    background: #000;
}
.group-search .color-item .link-white::before{
    background: #fff;
}
.group-search .color-item .link-gray::before{
    background: #7f7f7f;
}
.group-search .color-item .link-navy::before{
    background-color: #002060;

}
.group-search .color-item .link-pink::before{
    background-color: #ff6699;
}
.group-search .color-item .link-yellow::before{
    background-color: #ffff00;
}
.group-search .color-item .link-blue::before{
    background-color: #00b0f0;
}
.group-search .color-item .link-green::before{
    background-color: #92d050;
}
.group-search .color-item .link-beige::before{
    background-color: #fff2cc;
}
.group-search .color-item .link-red::before{
    background-color: #ff0000;
}
.group-search .color-item .link-orange::before{
    background-color: #ffc000;
}
.group-search .color-item .link-purple::before{
    background-color: #8a3cc4;
}

.group-search .btn-close{
    position: absolute;
    top: 23px;
    right: 23px;
    width: 20px;
    height: 20px;
    content: '';
    display: block;
}

.footer{
    padding: 70px 5% 30px;
    background: #fff;
}
.footer .prize-area{
    margin-bottom: 30px;
}
.footer .prize-area .logo a{
    display: block;
    width: 100px;
}
.footer .prize-area .logo a img{
    width: 100%;
}
.footer .prize-area .text{
    display: block;
    padding-top: 10px;
    font-size: 13px;
}
.footer .link-area{
    margin-bottom: 35px;
}
.footer .link-list{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;

}
.footer .link-item{}
.footer .link-item a{
    color: #333;
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.footer .flex-area{
    display: grid;
    grid-template-columns: 3fr 2fr;
    margin-bottom: 35px;
}
.footer .flex-area .left-wrap{
    display: flex;
    flex-direction: column;
}
.footer .flex-area .account-name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 13px;
    color: #333;
}
.footer .flex-area .bank-number{
    font-size: 13px;
    line-height: 21px;
    color: #999;
}

.footer .flex-area .right-wrap{
    display: flex;
    flex-direction: column;

}
.footer .flex-area .phone-number{
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    color: #333;
    font-weight: 500;
    line-height: 19.5px;
}
.footer .flex-area .operation{
    font-size: 13px;
    line-height: 21px;
    color: #999;
}

.footer .policy-area{
    margin-bottom: 10px;
}

.footer .policy-list{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.footer .policy-item a{
    color: #999;
    font-size: 12px;
    line-height: 20px;
}

.footer .policy-list .bold{
    font-weight: bold;
}
.footer .copy-area{
    color: #999;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
}
.footer .btn-copy{
    display: flex;
    align-items: center;
    gap: 4px;
}
.footer .btn-copy::after{
    content: '';
    display: block;
    background-image: url(../images/footer-arrow.png);
    background-size: 15px;
    width: 15px;
    height: 7.5px;
}
.footer .btn-copy.on::after{
    content: '';
    display: block;
    background-image: url(../images/footer-arrow2.png);
    background-size: 15px;
    width: 15px;
    height: 7.5px;
}

.footer .copy-desc{}
.footer .copy-list{
    display: none;
}
.footer .copy-list li{}

.footer .copy-desc .text{
    font-size: 11px;
    line-height: 18px;
    padding-top: 10px;
    display: block;
}
.footer .copy-desc .copy{
    font-size: 11px;
    line-height: 18px;
    display: block;
}

.footer .sns-area{
    margin-bottom: 30px;
}
.footer .sns-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer .sns-item{}
.footer .sns-item [class*="link-"]{
    content: '';
    width: 30px;
    height: 30px;
    display: block;
}

.footer .sns-item .link-facebook{
    background-position: -5px -135px;
}
.footer .sns-item .link-insta{
    background-position: -45px -135px;
}
.footer .sns-item .link-youtube{
    background-position: -85px -135px;
}

.footer  .toss-area{
    margin-bottom: 30px;
    color: #999;
    font-size: 11px;
    line-height: 18px;
}

.footer .isms-area{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.footer .isms-area img{
    height: 40px;
    object-fit: contain;
}

.footer .app-area{
    display: flex;
    justify-content: center;
}
.footer .app-area .btn-app{
    background: #000;
    width: 92%;
    color: #fff;
    text-align: center;
    padding: 18px 0;
    border-radius: 50px;
    font-size: 15px;
    line-height: 20px;
}
.footer .app-area .sky{
    color: #00ffff;
    font-weight: bold;
}
.footer .app-area .yellow{
    color: #ffff00;
    font-weight: bold;
}

.control-bar{
    position: fixed;
    bottom: 10px;
    right: 8px;
    display: flex;
    flex-direction: column;
    z-index: 3;
}
.control-bar [class*="btn-"]{
    content: '';
    display: block;
    width: 46.5px;
}
.control-bar .btn-top{
    height: 38px;
    background-position: -61.5px -118px;
}
.control-bar .btn-bottom{
    height: 38px;
    background-position: -118px -118px;
}
.control-bar .btn-more{
    height: 46.5px;
    background-position: -5px -61.5px;
    margin-bottom: 5px;
}

.control-bar .btn-more.on{
    background-position: -61.5px -61.5px;
}
.control-bar .more-list{
    position: absolute;
    bottom: 135px;
    right: 0;
    width: 160px;
    padding: 10px;
    background: #000;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    display: none;
}
.control-bar .more-list.on{
    display: block;
}

.control-bar .more-item{}
.control-bar .more-item a{
    display: flex;
    color: #fff;
    font-size: 12px;
    align-items: center;
    gap: 7px;
}
.control-bar .more-item [class*="ic-"]{
    content: '';
    width: 46.5px;
    height: 46.5px;
    display: block;
}

.control-bar .more-item .ic-kakao{
    background-position: -165px -61.5px;
}
.control-bar .more-item .ic-naver{
    background-position: -5px -5px;
}
.control-bar .more-item .ic-today{
    background-position: -5px -118px;
}
.control-bar .more-item .ic-store{
    background-position: -165px -5px;
}
